
/* Containers
----------------------------------------------------------------------------------------------------*/
.container_24 {
	margin-left: 0px;
	margin-right: 0px;
	width: 100.00008%;
	
	
}

/* Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/

.alpha {
	margin-left: 0 !important;
}

.omega {
	margin-right: 0 !important;
}



/* Grid >> Global
----------------------------------------------------------------------------------------------------*/

.grid_1,
.grid_2,
.grid_3,
.grid_4,
.grid_5,
.grid_6,
.grid_7,
.grid_8,
.grid_9,
.grid_10,
.grid_11,
.grid_12,
.grid_13,
.grid_14,
.grid_15,
.grid_16,
.grid_17,
.grid_18,
.grid_19,
.grid_20,
.grid_21,
.grid_22,
.grid_23,
.grid_24{
	display:inline;
	float: left;
	position: relative;
	margin-left: 0.5%;
	margin-right: 0.5%;
}


/* Grid >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .grid_1{
	width:3.16667%;
}

.container_24 .grid_2{
	width:7.33334%;
}

.container_24 .grid_3{
	width:11.50001%;
}

.container_24 .grid_4{
	width:15.66668%;
}

.container_24 .grid_5{
	width:19.83335%;
}

.container_24 .grid_6{
	width:24.00002%;
}

.container_24 .grid_7{
	width:28.16669%;
}

.container_24 .grid_8{
	width:32.33336%;
}

.container_24 .grid_9{
	width:36.50003%;
}

.container_24 .grid_10{
	width:40.6667%;
}

.container_24 .grid_11{
	width:44.83337%;
}

.container_24 .grid_12{
	width:49.00004%;
}

.container_24 .grid_13{
	width:53.16671%;
}

.container_24 .grid_14{
	width:57.33338%;
}

.container_24 .grid_15{
	width:61.50005%;
}

.container_24 .grid_16{
	width:65.66672%;
}

.container_24 .grid_17{
	width:69.83339%;
}

.container_24 .grid_18{
	width:74.00006%;
}

.container_24 .grid_19{
	width:78.16673%;
}

.container_24 .grid_20{
	width:82.3334%;
}

.container_24 .grid_21{
	width:86.50007%;
}

.container_24 .grid_22{
	width:90.66674%;
}

.container_24 .grid_23{
	width:94.83341%;
}

.container_24 .grid_24{
	width:99.00008%;
}




.grid_1 .grid_1{
    width:98.0%;
    margin-left: 6.0%;
	margin-right: 6.0%;
}



.grid_2 .grid_1{
    width:48.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}

.grid_2 .grid_2{
    width:98.0%;
    margin-left: 3.0%;
	margin-right: 3.0%;
}



.grid_3 .grid_1{
    width:31.3333333333%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_2{
    width:64.6666666667%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}

.grid_3 .grid_3{
    width:98.0%;
    margin-left: 2.0%;
	margin-right: 2.0%;
}



.grid_4 .grid_1{
    width:23.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_2{
    width:48.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_3{
    width:73.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}

.grid_4 .grid_4{
    width:98.0%;
    margin-left: 1.5%;
	margin-right: 1.5%;
}



.grid_5 .grid_1{
    width:18.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_2{
    width:38.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_3{
    width:58.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_4{
    width:78.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}

.grid_5 .grid_5{
    width:98.0%;
    margin-left: 1.2%;
	margin-right: 1.2%;
}



.grid_6 .grid_1{
    width:14.6666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_2{
    width:31.3333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_3{
    width:48.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_4{
    width:64.6666666667%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_5{
    width:81.3333333333%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}

.grid_6 .grid_6{
    width:98.0%;
    margin-left: 1.0%;
	margin-right: 1.0%;
}



.grid_7 .grid_1{
    width:12.2857142857%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_2{
    width:26.5714285714%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_3{
    width:40.8571428571%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_4{
    width:55.1428571429%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_5{
    width:69.4285714286%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_6{
    width:83.7142857143%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}

.grid_7 .grid_7{
    width:98.0%;
    margin-left: 0.857142857143%;
	margin-right: 0.857142857143%;
}



.grid_8 .grid_1{
    width:10.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_2{
    width:23.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_3{
    width:35.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_4{
    width:48.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_5{
    width:60.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_6{
    width:73.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_7{
    width:85.5%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}

.grid_8 .grid_8{
    width:98.0%;
    margin-left: 0.75%;
	margin-right: 0.75%;
}



.grid_9 .grid_1{
    width:9.11111111111%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_2{
    width:20.2222222222%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_3{
    width:31.3333333333%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_4{
    width:42.4444444444%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_5{
    width:53.5555555556%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_6{
    width:64.6666666667%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_7{
    width:75.7777777778%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_8{
    width:86.8888888889%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}

.grid_9 .grid_9{
    width:98.0%;
    margin-left: 0.666666666667%;
	margin-right: 0.666666666667%;
}



.grid_10 .grid_1{
    width:8.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_2{
    width:18.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_3{
    width:28.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_4{
    width:38.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_5{
    width:48.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_6{
    width:58.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_7{
    width:68.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_8{
    width:78.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_9{
    width:88.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}

.grid_10 .grid_10{
    width:98.0%;
    margin-left: 0.6%;
	margin-right: 0.6%;
}



.grid_11 .grid_1{
    width:7.09090909091%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_2{
    width:16.1818181818%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_3{
    width:25.2727272727%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_4{
    width:34.3636363636%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_5{
    width:43.4545454545%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_6{
    width:52.5454545455%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_7{
    width:61.6363636364%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_8{
    width:70.7272727273%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_9{
    width:79.8181818182%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_10{
    width:88.9090909091%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}

.grid_11 .grid_11{
    width:98.0%;
    margin-left: 0.545454545455%;
	margin-right: 0.545454545455%;
}



.grid_12 .grid_1{
    width:6.33333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_2{
    width:14.6666666667%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_3{
    width:23.0%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_4{
    width:31.3333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_5{
    width:39.6666666667%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_6{
    width:48.0%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_7{
    width:56.3333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_8{
    width:64.6666666667%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_9{
    width:73.0%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_10{
    width:81.3333333333%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_11{
    width:89.6666666667%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}

.grid_12 .grid_12{
    width:98.0%;
    margin-left: 0.5%;
	margin-right: 0.5%;
}



.grid_13 .grid_1{
    width:5.69230769231%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_2{
    width:13.3846153846%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_3{
    width:21.0769230769%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_4{
    width:28.7692307692%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_5{
    width:36.4615384615%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_6{
    width:44.1538461538%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_7{
    width:51.8461538462%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_8{
    width:59.5384615385%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_9{
    width:67.2307692308%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_10{
    width:74.9230769231%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_11{
    width:82.6153846154%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_12{
    width:90.3076923077%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}

.grid_13 .grid_13{
    width:98.0%;
    margin-left: 0.461538461538%;
	margin-right: 0.461538461538%;
}



.grid_14 .grid_1{
    width:5.14285714286%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_2{
    width:12.2857142857%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_3{
    width:19.4285714286%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_4{
    width:26.5714285714%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_5{
    width:33.7142857143%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_6{
    width:40.8571428571%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_7{
    width:48.0%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_8{
    width:55.1428571429%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_9{
    width:62.2857142857%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_10{
    width:69.4285714286%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_11{
    width:76.5714285714%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_12{
    width:83.7142857143%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_13{
    width:90.8571428571%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}

.grid_14 .grid_14{
    width:98.0%;
    margin-left: 0.428571428571%;
	margin-right: 0.428571428571%;
}



.grid_15 .grid_1{
    width:4.66666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_2{
    width:11.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_3{
    width:18.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_4{
    width:24.6666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_5{
    width:31.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_6{
    width:38.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_7{
    width:44.6666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_8{
    width:51.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_9{
    width:58.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_10{
    width:64.6666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_11{
    width:71.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_12{
    width:78.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_13{
    width:84.6666666667%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_14{
    width:91.3333333333%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}

.grid_15 .grid_15{
    width:98.0%;
    margin-left: 0.4%;
	margin-right: 0.4%;
}



.grid_16 .grid_1{
    width:4.25%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_2{
    width:10.5%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_3{
    width:16.75%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_4{
    width:23.0%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_5{
    width:29.25%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_6{
    width:35.5%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_7{
    width:41.75%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_8{
    width:48.0%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_9{
    width:54.25%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_10{
    width:60.5%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_11{
    width:66.75%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_12{
    width:73.0%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_13{
    width:79.25%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_14{
    width:85.5%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_15{
    width:91.75%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}

.grid_16 .grid_16{
    width:98.0%;
    margin-left: 0.375%;
	margin-right: 0.375%;
}



.grid_17 .grid_1{
    width:3.88235294118%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_2{
    width:9.76470588235%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_3{
    width:15.6470588235%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_4{
    width:21.5294117647%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_5{
    width:27.4117647059%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_6{
    width:33.2941176471%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_7{
    width:39.1764705882%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_8{
    width:45.0588235294%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_9{
    width:50.9411764706%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_10{
    width:56.8235294118%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_11{
    width:62.7058823529%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_12{
    width:68.5882352941%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_13{
    width:74.4705882353%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_14{
    width:80.3529411765%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_15{
    width:86.2352941176%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_16{
    width:92.1176470588%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}

.grid_17 .grid_17{
    width:98.0%;
    margin-left: 0.352941176471%;
	margin-right: 0.352941176471%;
}



.grid_18 .grid_1{
    width:3.55555555556%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_2{
    width:9.11111111111%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_3{
    width:14.6666666667%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_4{
    width:20.2222222222%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_5{
    width:25.7777777778%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_6{
    width:31.3333333333%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_7{
    width:36.8888888889%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_8{
    width:42.4444444444%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_9{
    width:48.0%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_10{
    width:53.5555555556%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_11{
    width:59.1111111111%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_12{
    width:64.6666666667%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_13{
    width:70.2222222222%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_14{
    width:75.7777777778%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_15{
    width:81.3333333333%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_16{
    width:86.8888888889%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_17{
    width:92.4444444444%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}

.grid_18 .grid_18{
    width:98.0%;
    margin-left: 0.333333333333%;
	margin-right: 0.333333333333%;
}



.grid_19 .grid_1{
    width:3.26315789474%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_2{
    width:8.52631578947%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_3{
    width:13.7894736842%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_4{
    width:19.0526315789%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_5{
    width:24.3157894737%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_6{
    width:29.5789473684%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_7{
    width:34.8421052632%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_8{
    width:40.1052631579%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_9{
    width:45.3684210526%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_10{
    width:50.6315789474%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_11{
    width:55.8947368421%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_12{
    width:61.1578947368%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_13{
    width:66.4210526316%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_14{
    width:71.6842105263%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_15{
    width:76.9473684211%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_16{
    width:82.2105263158%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_17{
    width:87.4736842105%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_18{
    width:92.7368421053%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}

.grid_19 .grid_19{
    width:98.0%;
    margin-left: 0.315789473684%;
	margin-right: 0.315789473684%;
}



.grid_20 .grid_1{
    width:3.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_2{
    width:8.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_3{
    width:13.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_4{
    width:18.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_5{
    width:23.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_6{
    width:28.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_7{
    width:33.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_8{
    width:38.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_9{
    width:43.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_10{
    width:48.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_11{
    width:53.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_12{
    width:58.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_13{
    width:63.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_14{
    width:68.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_15{
    width:73.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_16{
    width:78.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_17{
    width:83.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_18{
    width:88.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_19{
    width:93.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}

.grid_20 .grid_20{
    width:98.0%;
    margin-left: 0.3%;
	margin-right: 0.3%;
}



.grid_21 .grid_1{
    width:2.7619047619%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_2{
    width:7.52380952381%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_3{
    width:12.2857142857%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_4{
    width:17.0476190476%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_5{
    width:21.8095238095%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_6{
    width:26.5714285714%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_7{
    width:31.3333333333%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_8{
    width:36.0952380952%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_9{
    width:40.8571428571%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_10{
    width:45.619047619%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_11{
    width:50.380952381%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_12{
    width:55.1428571429%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_13{
    width:59.9047619048%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_14{
    width:64.6666666667%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_15{
    width:69.4285714286%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_16{
    width:74.1904761905%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_17{
    width:78.9523809524%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_18{
    width:83.7142857143%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_19{
    width:88.4761904762%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_20{
    width:93.2380952381%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}

.grid_21 .grid_21{
    width:98.0%;
    margin-left: 0.285714285714%;
	margin-right: 0.285714285714%;
}



.grid_22 .grid_1{
    width:2.54545454545%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_2{
    width:7.09090909091%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_3{
    width:11.6363636364%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_4{
    width:16.1818181818%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_5{
    width:20.7272727273%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_6{
    width:25.2727272727%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_7{
    width:29.8181818182%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_8{
    width:34.3636363636%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_9{
    width:38.9090909091%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_10{
    width:43.4545454545%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_11{
    width:48.0%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_12{
    width:52.5454545455%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_13{
    width:57.0909090909%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_14{
    width:61.6363636364%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_15{
    width:66.1818181818%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_16{
    width:70.7272727273%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_17{
    width:75.2727272727%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_18{
    width:79.8181818182%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_19{
    width:84.3636363636%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_20{
    width:88.9090909091%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_21{
    width:93.4545454545%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}

.grid_22 .grid_22{
    width:98.0%;
    margin-left: 0.272727272727%;
	margin-right: 0.272727272727%;
}



.grid_23 .grid_1{
    width:2.34782608696%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_2{
    width:6.69565217391%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_3{
    width:11.0434782609%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_4{
    width:15.3913043478%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_5{
    width:19.7391304348%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_6{
    width:24.0869565217%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_7{
    width:28.4347826087%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_8{
    width:32.7826086957%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_9{
    width:37.1304347826%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_10{
    width:41.4782608696%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_11{
    width:45.8260869565%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_12{
    width:50.1739130435%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_13{
    width:54.5217391304%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_14{
    width:58.8695652174%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_15{
    width:63.2173913043%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_16{
    width:67.5652173913%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_17{
    width:71.9130434783%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_18{
    width:76.2608695652%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_19{
    width:80.6086956522%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_20{
    width:84.9565217391%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_21{
    width:89.3043478261%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_22{
    width:93.652173913%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}

.grid_23 .grid_23{
    width:98.0%;
    margin-left: 0.260869565217%;
	margin-right: 0.260869565217%;
}



.grid_24 .grid_1{
    width:2.16666666667%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_2{
    width:6.33333333333%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_3{
    width:10.5%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_4{
    width:14.6666666667%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_5{
    width:18.8333333333%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_6{
    width:23.0%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_7{
    width:27.1666666667%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_8{
    width:31.3333333333%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_9{
    width:35.5%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_10{
    width:39.6666666667%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_11{
    width:43.8333333333%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_12{
    width:48.0%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_13{
    width:52.1666666667%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_14{
    width:56.3333333333%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_15{
    width:60.5%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_16{
    width:64.6666666667%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_17{
    width:68.8333333333%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_18{
    width:73.0%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_19{
    width:77.1666666667%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_20{
    width:81.3333333333%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_21{
    width:85.5%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_22{
    width:89.6666666667%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_23{
    width:93.8333333333%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}

.grid_24 .grid_24{
    width:98.0%;
    margin-left: 0.25%;
	margin-right: 0.25%;
}






/* Prefix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .prefix_1 {
    padding-left:4.16667%;
}

.container_24 .prefix_2 {
    padding-left:8.33334%;
}

.container_24 .prefix_3 {
    padding-left:12.50001%;
}

.container_24 .prefix_4 {
    padding-left:16.66668%;
}

.container_24 .prefix_5 {
    padding-left:20.83335%;
}

.container_24 .prefix_6 {
    padding-left:25.00002%;
}

.container_24 .prefix_7 {
    padding-left:29.16669%;
}

.container_24 .prefix_8 {
    padding-left:33.33336%;
}

.container_24 .prefix_9 {
    padding-left:37.50003%;
}

.container_24 .prefix_10 {
    padding-left:41.6667%;
}

.container_24 .prefix_11 {
    padding-left:45.83337%;
}

.container_24 .prefix_12 {
    padding-left:50.00004%;
}

.container_24 .prefix_13 {
    padding-left:54.16671%;
}

.container_24 .prefix_14 {
    padding-left:58.33338%;
}

.container_24 .prefix_15 {
    padding-left:62.50005%;
}

.container_24 .prefix_16 {
    padding-left:66.66672%;
}

.container_24 .prefix_17 {
    padding-left:70.83339%;
}

.container_24 .prefix_18 {
    padding-left:75.00006%;
}

.container_24 .prefix_19 {
    padding-left:79.16673%;
}

.container_24 .prefix_20 {
    padding-left:83.3334%;
}

.container_24 .prefix_21 {
    padding-left:87.50007%;
}

.container_24 .prefix_22 {
    padding-left:91.66674%;
}

.container_24 .prefix_23 {
    padding-left:95.83341%;
}



/* Suffix Extra Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .suffix_1 {
    padding-right:4.16667%;
}

.container_24 .suffix_2 {
    padding-right:8.33334%;
}

.container_24 .suffix_3 {
    padding-right:12.50001%;
}

.container_24 .suffix_4 {
    padding-right:16.66668%;
}

.container_24 .suffix_5 {
    padding-right:20.83335%;
}

.container_24 .suffix_6 {
    padding-right:25.00002%;
}

.container_24 .suffix_7 {
    padding-right:29.16669%;
}

.container_24 .suffix_8 {
    padding-right:33.33336%;
}

.container_24 .suffix_9 {
    padding-right:37.50003%;
}

.container_24 .suffix_10 {
    padding-right:41.6667%;
}

.container_24 .suffix_11 {
    padding-right:45.83337%;
}

.container_24 .suffix_12 {
    padding-right:50.00004%;
}

.container_24 .suffix_13 {
    padding-right:54.16671%;
}

.container_24 .suffix_14 {
    padding-right:58.33338%;
}

.container_24 .suffix_15 {
    padding-right:62.50005%;
}

.container_24 .suffix_16 {
    padding-right:66.66672%;
}

.container_24 .suffix_17 {
    padding-right:70.83339%;
}

.container_24 .suffix_18 {
    padding-right:75.00006%;
}

.container_24 .suffix_19 {
    padding-right:79.16673%;
}

.container_24 .suffix_20 {
    padding-right:83.3334%;
}

.container_24 .suffix_21 {
    padding-right:87.50007%;
}

.container_24 .suffix_22 {
    padding-right:91.66674%;
}

.container_24 .suffix_23 {
    padding-right:95.83341%;
}



/* Push Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .push_1 {
    left:4.16667%;
}

.container_24 .push_2 {
    left:8.33334%;
}

.container_24 .push_3 {
    left:12.50001%;
}

.container_24 .push_4 {
    left:16.66668%;
}

.container_24 .push_5 {
    left:20.83335%;
}

.container_24 .push_6 {
    left:25.00002%;
}

.container_24 .push_7 {
    left:29.16669%;
}

.container_24 .push_8 {
    left:33.33336%;
}

.container_24 .push_9 {
    left:37.50003%;
}

.container_24 .push_10 {
    left:41.6667%;
}

.container_24 .push_11 {
    left:45.83337%;
}

.container_24 .push_12 {
    left:50.00004%;
}

.container_24 .push_13 {
    left:54.16671%;
}

.container_24 .push_14 {
    left:58.33338%;
}

.container_24 .push_15 {
    left:62.50005%;
}

.container_24 .push_16 {
    left:66.66672%;
}

.container_24 .push_17 {
    left:70.83339%;
}

.container_24 .push_18 {
    left:75.00006%;
}

.container_24 .push_19 {
    left:79.16673%;
}

.container_24 .push_20 {
    left:83.3334%;
}

.container_24 .push_21 {
    left:87.50007%;
}

.container_24 .push_22 {
    left:91.66674%;
}

.container_24 .push_23 {
    left:95.83341%;
}





/* Pull Space >> 2 Columns
----------------------------------------------------------------------------------------------------*/

.container_24 .pull_1 {
    right:4.16667%;
}

.container_24 .pull_2 {
    right:8.33334%;
}

.container_24 .pull_3 {
    right:12.50001%;
}

.container_24 .pull_4 {
    right:16.66668%;
}

.container_24 .pull_5 {
    right:20.83335%;
}

.container_24 .pull_6 {
    right:25.00002%;
}

.container_24 .pull_7 {
    right:29.16669%;
}

.container_24 .pull_8 {
    right:33.33336%;
}

.container_24 .pull_9 {
    right:37.50003%;
}

.container_24 .pull_10 {
    right:41.6667%;
}

.container_24 .pull_11 {
    right:45.83337%;
}

.container_24 .pull_12 {
    right:50.00004%;
}

.container_24 .pull_13 {
    right:54.16671%;
}

.container_24 .pull_14 {
    right:58.33338%;
}

.container_24 .pull_15 {
    right:62.50005%;
}

.container_24 .pull_16 {
    right:66.66672%;
}

.container_24 .pull_17 {
    right:70.83339%;
}

.container_24 .pull_18 {
    right:75.00006%;
}

.container_24 .pull_19 {
    right:79.16673%;
}

.container_24 .pull_20 {
    right:83.3334%;
}

.container_24 .pull_21 {
    right:87.50007%;
}

.container_24 .pull_22 {
    right:91.66674%;
}

.container_24 .pull_23 {
    right:95.83341%;
}




/* Clear Floated Elements
----------------------------------------------------------------------------------------------------*/


.clear {
	clear: both;
	display: block;
	overflow: hidden;
	visibility: hidden;
	width: 0;
	height: 0;
}


.clearfix:after {
	clear: both;
	content: ' ';
	display: block;
	font-size: 0;
	line-height: 0;
	visibility: hidden;
	width: 0;
	height: 0;
}

.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

.clearfix {
	display: block;
}