#save-button-background { position:fixed; z-index:10; bottom:10px; right:15px; border:solid 1px #AAAAAA;background:#000000; }
#save-button { margin:5px; padding:5px; background:#DDDDDD; border:solid 1px #AAAAAA; }
#save-button input { border:solid 1px #555555; }

#image-browser { display:none; background:#666666; border:solid 1px #AAAAAA; width:1000px; height:525px; z-index:10100; }
#image-browser-inner { margin:10px 8px; background:#FFFFFF; border:solid 1px #555555; width:982px; height:505px; }
#image-browser #tabs { height:25px; list-style:none; background:#333333; color:#FFFFFF; clear:both; }
#image-browser #tabs li { padding:0px; margin:0px; }
#image-browser #tabs li a { display:inline-block; float:left; padding:5px 15px; color:#FFFFFF; text-decoration:none; }
#image-browser #tabs li a:hover { color:#3388ff; }
#image-browser #tabs li a.current { background:#FFFFFF; color:black; }
#image-browser #tabs li a.close { float:right; }
#image-browser div.images { overflow:auto; clear:both; margin:0px auto; width:980px; height:477px; }
#image-browser div.images .image { display:inline-block; float:left; vertical-align:top; margin:5px; padding:5px; border:solid 1px #CCCCCC; background:#FFFFFF; color:black; text-decoration:none; }
#image-browser div.images .image:hover { background:#225599; }
#image-browser div.images .image img { max-height:180px; }

.dt-widget { width:200px; height:150px; text-align:center; }
.dt-widget .inner { margin:5px; background:white; height:140px; }
